
.asc-logo {
  height: 45px;
 
}
.asc-header{
  display: flex;
  align-items: center;
  
}
.desktop-nav-menu {
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: #333;
  font-weight: 500;

  gap: 6rem;
  font-family: outfit;

  gap: 5rem;

}

.get-quote-btn {
  background-color: #000;
  color: #C78A2B;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-family: outfit;
}
.header-left-side{
  display:flex;
  gap:5px;
  align-items: center;
}

.get-quote-btn:hover {
  background-color: #CC9231;
  color: #000;
}
.get-quote-container-1{
  display: none;
  
}
.asc-header-toggle{
  display:none;
}


/* Basic styling for the mobile sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Sidebar is hidden off the screen */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
}

.social-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: auto;
}

.social-links a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
}

hr {
  margin: 20px 0;
  border: 0.5px solid #ccc;
}

/* Mobile Button Styling */
.asc-header-toggle {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 2000;
}

/* Show sidebar when button is clicked */
.mobile-sidebar.open {
  right: 0; /* Slide the sidebar in */
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .nav-links a, .social-links a {
    font-size: 18px;
  }
}








@media (max-width: 992px ){
  .desktop-nav-menu{
    gap: 1.5rem;
    font-size: 14px;
  }
  
}
@media (max-width: 769px){

  .get-quote-container-1{
    display: block;
    
  }
  .get-quote-container-1 a{
    font-size: 12px;
    font-weight: 500;
    padding: 10px 25px;
  }
  .asc-header-toggle{
    display:block;
    padding: 0;
    border: none;
    background: transparent;
  }
  .get-quote-container-2{
    display: none;
  }
  .desktop-nav-menu{
    display: none !important;
  }
  
}
@media (max-width: 450px){
  .phone-get-qt{
    padding:6px;
    background-color: #000;
    color: #C78A2B;
    border-radius: 50%;
  
  }
}




