.counter-section {
    background-color: #f8f9fa;
  }
  
  .counter-item {
    padding: 20px;
  }
  
  .counter-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  
  .counter-number {
    font-size: 2rem;
    font-weight: bold;
    color: #C5872B;
    font-family: outfit;
  }
  
  .counter-text {
    font-size: 1rem;
    color: #000;
    font-family: outfit;
    font-weight: 700;
  }
  