.selected-clients{
  margin-top: 40px;
}


.section1-client-label {
  /* border: 1px solid #e9d7fe;
  background: #f9f5ff;
  border-radius: 25px; */
  padding:10px 48px;
  color: #C7892B;
  font-weight: bold;
  font-size: 35px !important;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  margin-top: 40px;
  font-family: outfit;
}
.first-section-heading {
  font-size: 33px;
  line-height: 47px;
  color: #433978;
}
.section1-content {
  font-size: 18px;
  font-weight: 500;
}
.first-client-col {
  border: 0.5px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.first-client-col:hover {
  transform: translateY(-5px) translateX(-5px);
  box-shadow: 1px 0px 0px #000, 0px 1px 0px #000, 2px 1px 0px #000,
    1px 2px 0px #000, 3px 2px 0px #000, 2px 3px 0px #000,
    4px 3px 0px #000, 3px 4px 0px #000, 5px 4px 0px #000,
    4px 5px 0px #000, 6px 5px 0px #000, 5px 6px 0px #000,
    7px 6px 0px #000, 6px 7px 0px #000, 8px 7px 0px #000,
    7px 8px 0px #000, 9px 8px 0px #000, 8px 9px 0px #000;
}

.first-client-image {
  height: 50px;
  object-fit: contain;
  max-width: 100px;
}
@media screen and (max-width: 1000px) {
  .first-client-image {
    height: 40px;
    object-fit: contain;
    max-width: 70px;
  }
}

.section1-content-p{
  width:80%;
  font-family: outfit;
  line-height: 30px;
  text-align: center;
}
@media (max-width:768px) {
  .section1-content-p{
    width:90%;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width:450px) {
  .section1-content-p{
    width:90%;
    font-size: 10px;
    line-height: 20px;
  }
}
