.about-section {
  background-color: #f8f9fa; /* Light background */
}

.title {
  font-size: 35px;
  font-weight: 700;
  color: #C7892B;
  font-family: outfit;
  line-height: 47px;
}

.subtitle {
  font-size: 25px;
  font-weight: 600;
  color: #000;
  font-family: outfit; 
  line-height: 40px;
}

.description {
  font-size: 16px !important;
  color: #555;
  line-height: 1.6;
  font-family: outfit;
  text-align: left;
}

.mission-title, .vision-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
  font-family: outfit;
}

.img-fluid {
  width: 570px;
  height: 441px;
  border-radius: 10px;
}
