.tech-section {
  background-color: #fff;
}

.tech-heading {
  font-weight: bold;
  color: #C5872B;
  font-family: outfit;
}

.marquee-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-container {
  display: flex;
  gap: 100px;
  animation: marquee 10s linear infinite;
  width: fit-content;
}

.marquee-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.marquee-image {
  width: 80px;  /* Adjust image size */
  height: 80px;
  object-fit: contain;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .marquee-container {
      gap: 20px;
  }
  .marquee-image {
      width: 60px;
      height: 60px;
  }
}
